/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";

/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Open Sans", "../fonts/Open_Sans/OpenSans-Regular", normal, eot ttf woff woff2);
@include font-face("Open Sans Bold", "../fonts/Open_Sans/OpenSans-Bold", normal, eot ttf woff woff2);
/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.mainWrapper{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
    color: #fff;
  }
}
p{
  margin: 0;
  padding: 0;
}
/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

// MAIN

.main {
  width: 100%;

}

.boxSlider {
  position: relative;
  width: 100%;
  max-height: 710px;
  height: 710px;

  background: url("../img/slider/mainSlider1.png") no-repeat 50% 50%;
  color: #fff;

  &__miniLogo {

    position: absolute;
    width: 14px;
    height: 26px;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -44px;
    font-size: 26px;
  }

  &-phrases {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 26px;
    margin-left: -2px;
    max-height: 710px;
    //border: 1px solid red;

    //////////// SLICK ARROWS

    .slick-prev, .slick-next {
      position: absolute;
      top: 50%;
      left: 20%;
      margin-top: -40px;
      color: #f00;
      font-size: 0;
      //border: 1px solid red;
      width: 15px;
      height: 28px;
      z-index: 3;
      &:hover:before {
        color: $blue;
      }
      &:before {
        font-family: "FontAwesome", cursive;
        content: "\f104";
        font-size: 46px;
        color: #fff;
        font-weight: bold;
        opacity: 1;

      }
    }
    .slick-next {
      left: 79%;
      &:before {
        font-size: 46px;
        font-family: "FontAwesome", cursive;
        content: "\f105";

      }
    }
    ////////////////

    &__block {
      outline: none;
      //border: 1px solid red;
      //z-index:10;
    }
    &__mainPhrath {
      display: block;
      height: 46px;
      margin: 0 auto;
      text-align: center;
      padding: 0;
      //width: 850px;             ///// если ставить, мажутся другие фразы
      word-spacing: 6px;
      font-size: 2.4vw;
      font-family: "Open Sans Bold", sans-serif;
      line-height: 37px;
    }
    &__addPhrath {
      display: block;
      //width: 420px;
      margin-top: 0.4%;
      margin-left: -12px;
      padding-left: -12px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      white-space: pre;
      font-size: 1.07em;
      font-weight: 400;
      line-height: 36px;
    }
  }

}

////

.block_teamMembers {
  width: 100%;

  margin-top: 94px;
  text-align: center;
  color: $grey;

  &__icon {
    width: 38px;
    height: 38px;
    margin: 0 auto;
  }
  &__centerIcon {
    text-align: center;
    font-size: 38px;
    color: $blue;
  }

  &__nameMember {
    display: block;
    margin-top: 7%; //20px
    font-size: 1.5em;
    line-height: 2.4;
  }

  &__informationAboutMemder {
    display: block;
    width: 100%;
    height: 70px;
    margin-bottom: 1%;
    font-size: 14px;
    line-height: 1.7;
    overflow: hidden;
  }

}

.block_gallery {
  color: $grey;
  text-align: center;
  margin-top: 138px; //////

  &__caption {

    font-size: 30px;
    line-height: 1.5;

  }
  &__captionAdd {
    font-size: 1.07em;
    line-height: 1.14em;
  }

  &__fullBox {
    width: 100%;
    margin-top: 63px;
    margin-bottom: 1%;
    height: 540px;
  }
  &__linkImg {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: calc(100% / 5);
    height: 220px;
    overflow: hidden;
  }

  &__box {
    width: 100%;
    height: 100%;
  }
  &__img {
    min-width: 100%;
    min-height: 100%;
  }

}

.block_active {
  width: 100%;
  height: 100%;

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    z-index: 3;
  }




  &__icon {
    position: absolute;
    left: 50%;
    top: 36%;
    margin-left: -10px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 2em;
    opacity:0;
  }

  &__text {
    position: absolute;
    display: block;
    top: -6%;
    left: 8%;
    text-align: center;
    font-size: 18px;
    line-height: 16;
    color: #fff;
    opacity:0;
  }
//  HOVER


  &:hover &__wrapper {
    background-color: rgba(6, 118, 159, .75);
    transition: all 0.2s;
  }

  &:hover .block_active__icon,
  &:hover .block_active__text{
    opacity:1;
    transition: all 0.2s;
  }

}

///////////

.boxComputer{
  clear: both;
  width: 100%;
  min-height:284px;
  margin-top: 5%; ////////////

  &__img{
    margin: 0 auto;
  }
}

.boxComputer-about{
  color: $grey;

  &__title{
    font-size: 1.64em;
    line-height:1.5;
    padding-left: 18px;
    border-left: 3px solid $blue;
  }
  &__information{
    position: relative;

    //min-width: 543px;
    height: 40px;
    margin-top: 46px;
    overflow: hidden;
  }
  &__fullItems{
    width: 100%;
    margin-top: 41px;
  }
  &__item{
    position: relative;
    margin-top:21px;
    margin-left: 10px;
    &:before{
      position: absolute;
      margin-left: -14px;
      margin-top: -12px;
      content: "\f105";
      font-family: "FontAwesome", cursive;
      color: $blue;
      font-size: 2em;

    }

  }

}
///////////

.freedomHouseBlock{
  width: 100%;
  min-height: 499px;
  margin-top: 46px;
  background: rgba(0,0,0,0.86) url("../img/slider/bg2.png") no-repeat 50% 50%;
  color: $grey;
  text-align: center;
  &__title{
    position: relative;
    display: inline-block;
    margin-top: 98px;
    font-size:2.14em;
    line-height: 1.5;
    color: #b3b3b3;
  }
  &__addTitle{
    margin-top: 1px;
    font-size: 15px;
    line-height: 1.14;
    color: #868686;
  }
}

.cityBox{
  width: 100%;
  margin-top: 30%;

  &__img{
    position: relative;
    width: 82px;
    height: 82px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $blue;

  }
  &__iconWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
  }
  &__icon{

    margin-top: 4px;
    color: #fff;
    font-size: 2em;
  }

  &__task{
    margin-top: 22px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 2;
    color: #fff;
  }
  &__cityName{
    margin-bottom: 2%;
    color: #fff;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
  }
}

///////////


.aboutUs-box{
  width: 100%;
  margin-top: 5%; ///////////

  margin-left: 2%;

  color: $grey;

  &__title{
    font-size: 1.64em;
    line-height: 1.5;
    padding-left: 18px;
    border-left: 3px solid $blue;

  }
  &__information{
    position: relative;
    width: 100%;
    margin-top: 47px;

    word-wrap: break-word;

  }
  &__JGutierrez{
    position: relative;
    display: block;
    width: 100%;
    height: 114px;
    font-size: 15px;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
  }


  &__button{
    margin-top: 24px;
    width: 114px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 2;
    background-color: $blue;
    border: none;
    outline: none;
    &:hover{
      background-color: #3988fb;
    }
  }
  
  
  &__twitterPost{

    span{
      position: relative;
      display: block;
      height: 40px;
      width: 100%;
      font-size: 15px;
      padding-left: 39px;
      overflow: hidden;
    }

    &:not(:first-child){
      margin-top: 20px;
    }
    &:before{
      position: absolute;
      content: "\f099";
      font-size: 2em;
      color: $blue;
      font-family: "FontAwesome", cursive;
      z-index:3;
    }
  }
  &__name{
    display: inline-block;
    font-size: 15px;
    line-height: 21px;
    &:not(:first-child){
      margin-top: 20px;
    }
  }
  &__decorLine{
    margin-top: 13px;
    height: 5px;
    background-color: $blue;
  }
  .aboutUs-box__decorLine:nth-of-type(1){
    width: 245px;
  }
 .aboutUs-box__decorLine:nth-of-type(2){
    width: 293px;
  }
  .aboutUs-box__decorLine:nth-of-type(3){
    width: 184px;
  }

}



.usersComments-box{
  width: 100%;

  margin-top: 8%;///////////
  color: $grey;
  text-align: center;

  &__title{

    font-size: 30px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  &__addTitle{
    margin-top: 13px;
    font-size: 15px;
    line-height: 16px;
  }

}
.allComments{
  width: 100%;
  text-align: center;

  &__oneComment{
    outline: none;
    border:none;
  }


  &__img{
    display: block;
    margin: 58px auto 0;

  }
  &__comment{
    position: relative;
    width: 100%;
    height: 44px;
    margin-top: 35px;
    color: #222;
    font-size: 16px;
    display: block;
    padding: 0 130px;
    overflow: hidden;

  }
  &__userNick{
    display: block;
    margin-top: 29px;
    color: #919191;
    font-size: 16px;
    line-height: 27px;
  }
}
/////// Comments slider

.allComments{

  .slick-dots {
    position: relative;
    display: block;
    margin-top: 63px;
    margin-bottom: 87px;
  }

  .slick-dots li{
    width: 11px;
    height: 11px;
    margin-left: 5px;
    border: 1px solid $blue;
    border-radius: 50%
  }

  .slick-dots li button:before {
    content: "";
    margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: $blue;
  }


}
.sliderTrands-box{
  position: relative;
  width: 100%;
  margin-top: 53px;

  &__item{
    width: 204px;
    display: block;
    outline:none;
  }
  &__img{
    display: block;
    margin: 0 auto;
  }


  //////// slider arrows


  .slick-prev, .slick-next {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -30px;
    font-size: 0;
    width: 15px;
    height: 28px;
    z-index: 3;
    &:before {
      font-family: "FontAwesome", cursive;
      content: "\f104";
      font-size: 30px;
      color: $blue;
      font-weight: bold;
      opacity: 1;

    }
  }
  .slick-next {
    left: 101%;
    &:before {
      font-size: 30px;
      font-family: "FontAwesome", cursive;
      content: "\f105";

    }
  }


}





/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
